/* .newClass{
    color: red;
    font-weight: bold;
} */
/* .originalClass{
    color: blue;
}
.newClass{
    font-style: italic;
    color: red;
} */
/* 
.hidden{
    display: none;
} */

.myClass{
    background-color: #cb03a8;
}